<section class="bg-primary" id="about">
  <!-- <img src="/img/Ludovic Delmas.jpg" alt="" class="col-lg-2 col-lg-offset-2 text-center"> -->
    <div class="container">
      <div class="row">
        <img src="img/Ludovic Delmas.jpg" alt="" class="col-lg-4 col-lg-offset-4 col-xs-4 col-xs-offset-4 text-center">
      </div>
        <div class="row">
          
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A propos de moi</h2>
                <hr class="light">
                <p class="text-faded"> Diplomé d'une formation Développeur web et web mobile, j'aime participer activement à des projets novateurs. Je suis actuellement à la recherche d'une entreprise pour une licence développeur applicatif Java en alternance. Aimant travailler en équipe, ainsi que de nature dynamique, volontaire et appliqué, je saurais être un atout pour vos projets.
                </p>
                <a href="../cv/Ludovic_Delmas.pdf" class="btn btn-default btn-xl" download="cv_ludovic_delmas">mon cv</a>
            </div>
        </div>
    </div>
</section>
