<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contactez-moi !</h2>
                <hr class="primary">
                <p>Je suis actuellement à la recherche d'un alternance dans le cadre d'une licence <br>
                <b>Informatique & cybersécurité</b> avec le CNAM
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
                <i class="fab fa-linkedin fa-5x wow bounceInUp" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fas fa-envelope fa-5x wow bounceInUp" data-wow-delay=".1s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}" target="_blank">
            <i class="fab fa-github fa-5x wow bounceInUp" data-wow-delay=".1s"></i>
            </a>
        </div>

    </div>
</section>
