<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Mes competences</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-heading">Langages :</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fab fa-5x fa-python wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Python</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fab fa-5x fa-java wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>Java</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fab fa-5x fa-js wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>JavaScript</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fab fa-5x fa-html5 wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <i class="fab fa-5x fa-css3 wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>Html & CSS</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fab fa-5x fa-php wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Php</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fas fa-5x fa-database wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>Sql</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <img src="fontawesome/svgs/brands/csharp.svg" height="75em" class="wow bounceIn text-primary" data-wow-delay=".3s">
          <h3>C#</h3>
        </div>
      </div>
    </div>
  </div>
  <hr class="primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-heading">Framework :</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fab fa-5x fa-react wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>React</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fab fa-5x fa-symfony wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <h3>Symfony</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fab fa-5x fa-vuejs wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>VueJS</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fab fa-5x fa-angular wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>Angular</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fab fa-5x fa-bootstrap wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Bootstrap</h3>
        </div>
      </div>
    </div> 
  </div>
  <hr class="primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-heading">Environnements & outils:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fab fa-5x fa-linux wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Linux</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fab fa-5x fa-windows wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <h3>Windows</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fab fa-5x fa-git-alt wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Git</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fab fa-5x fa-node-js wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>NodeJs</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fab fa-5x fa-trello wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Trello</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fab fa-5x fa-npm wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <h3>npm</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fab fa-5x fa-docker wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Docker</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <img src="fontawesome/svgs/brands/postman.svg" alt="" height="73em" class="wow bounceIn text-primary" data-wow-delay=".2s">
          <h3>Postman</h3>
        </div>
      </div>
    </div>
  </div>
</section>